.userCard {
  display: flex;
  flex-direction: column;

  /* padding: 20px; */
  /* border: 3px solid black; */

  /* min-width: 100px;
  min-height: 125px;
  max-width: 300px;
  max-height: 450px; */
  max-width: 9rem;
  min-width: 5.625rem;

  /* height: 240px; */

  border-radius: 10px;
  overflow: hidden;
}

.shadowLightMale {
  /* Базова темна тінь для глибини + фіолетовий розсіяний неоновий ареол */
  box-shadow:
    0 0.41rem 1.95rem rgba(62, 126, 230, 0.8),
    0 0 0.72rem rgba(176, 113, 228, 0.35);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}
.shadowLightFemale {
  box-shadow:
    0 0.41rem 1.95rem rgba(214, 7, 190, 0.8),
    0 0 0.72rem rgba(152, 4, 144, 0.995);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}
